{% extends 'place/base.html' %}
{% load place_tags %}
{% block content %}
<ul class="list-articles">
	{% get_place_by_cat cat_selected=cat_selected as addresses %}
	{% for addr in addresses %}
		<li><div class="article-panel">
		<p class="first">Category: {{ addr.sport_category }}</p>
		<p class="last">Date: {{ addr.time_update|date:"d-m-Y H:i:s" }}</p>
		</div></li>
		{% if addr.description.photo %}
		<p><img class="img-article-left thumb" src={{addr.description.photo.url}}></p>
		{% endif %}	
		<h2>{{ addr.title }}</h2> 
	{% autoescape on %}
	<p class="description">{{ addr.description|linebreaks|truncatewords:50 }}</p>
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href={{ addr.get_absolute_url }}>Read more</a></p>
	{% endfor %}
</ul>
{% endblock %}
